<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jd2_homework</property>
        <property name="hibernate.connection.username">user</property>
        <property name="hibernate.connection.password">user</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.flushMode">COMMIT</property>
        <mapping class = "homework2.task7.pojo.Expenses"/>
        <mapping class = "homework2.task7.pojo.Receiver"/>
        <mapping class = "homework2.task7.pojo.Client"/>
        <mapping class = "homework2.task7.pojo.ClientInfo"/>
        <mapping class = "homework2.task7.pojo.ClientDetails"/>
        <mapping class = "homework2.task7.pojo.ClientDetailsInfo"/>


    </session-factory>

</hibernate-configuration>